.footer {
  padding-top: 40px;
  padding-bottom: 42px;
  background-color: #08475E;
  color: #fff;
}

.footer__container {
  display: grid;
  grid-column: 1fr 4fr 1fr;
  gap: 34px 10px;
  grid-template-areas: 
    "logo navigation navigation"
    "copyright . design";
}

.footer__logo {
  grid-area: logo;
}

.footer__navigation {
  grid-area: navigation;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__design {
  grid-area: design;
  justify-self: end;
}

@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }

  .footer__copyright {
    font-size: 12px;
  }
  
  .footer__design {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 30px 0;
  }

  .footer__container {
    grid-template-areas: 
      "logo navigation"
      "copyright design";
  }
}